.pendings-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    background-color: rgb(169, 161, 161);
    color: black;
}
.pendings-main>.serialno{
    width: 20px;
}
.pendings-main>.Item-Name{
    width: 100px;
    overflow: hidden;
}
.pendings-main>.Quantity{
    width: 20px;
}
.pendings-main>.Total-Price{
    width: 30px;
}
.pendings-main>.Userid{
    width: 90px;
}
@media screen and (max-width: 480px) {
   .pendings-main{
    margin-left: 20px;
    margin-right: 20px;
}
}